.what-will-i-learn {
  // font-family: 'Rubik', sans-serif;

  h3 {
      color: #633991;
      font-size: 33px;
      font-weight: 500;
  }
  .light-font {
      font-weight: 300;
  }
  .section-title {
      text-align: center;
      margin-bottom: 3rem;
  }

  .section-title small {
      color: #998a9b;
  }
}
