.timer-wrapper {
  /******************************************************************************************************************************
  MAIN STYLE
  *******************************************************************************************************************************/
  /* Titles */
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
  }

  h4 {
    color: white;
    font-weight: 400;
  }

  h1, h2, h3 {
    font-family: 'Raleway',sans-serif;
    margin-top: 30px;
    // font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  h1{
    font-size: 60px;
    color: white;
  }

  p { color: white; }

  h2{ color: #dc7075;}
  a:hover, a:focus {
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }

  /******************************************************************************************************************************
  HEADER
  *******************************************************************************************************************************/
  .timer_box{
    margin: 35px 24px;
    display: inline-block;
    padding: 20px 12px 0px 12px;
    text-align: center;
    width: 130px;
    border-radius: 50%;
    border: 4px solid #fff;
  }
  .timer_box h1{
    font-size: 48px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
  }
  .timer_box p{ margin-top: 0px;}

  .mt {
    margin-top: 30px;
  }
  /******************************************************************************************************************************
  RESPONSIVE
  *******************************************************************************************************************************/
  @media only screen and (max-width: 520px) {
    .timer_box{ margin: 0 12px 12px 0;}
  }
  @media only screen and (max-width: 740px) {
    h1{ font-size: 36px;}

    .timer_box{
      width: 100px;
      padding: 16px 0 0 0;
      margin: 35px 12px;
    }

    .timer_box h1{ font-size: 28px;}
  }
}
