<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Cendi Desenvolvimento Humano" %></title>

    <%- if current_page.data.og_meta %>
      <%- current_page.data.og_meta.each do |key, value| %>
        <meta property='og:<%= key %>' content='<%= value %>'>
      <%- end %>
    <%- end %>

    <!-- CSS Files -->
    <%= stylesheet_link_tag 'bootstrap.min.css', media: "screen" %>
    <%= stylesheet_link_tag 'font-awesome.min.css' %>
    <%= stylesheet_link_tag 'fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %>
    <%= stylesheet_link_tag 'animate.css', media: "screen" %>
    <%= stylesheet_link_tag 'owl.theme.css' %>
    <%= stylesheet_link_tag 'owl.carousel.css' %>
    <%= stylesheet_link_tag 'soon.css' %>
    <%= stylesheet_link_tag 'site.css' %>

    <!-- Colors -->
    <%= stylesheet_link_tag 'css-index.css', media: "screen" %>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag 'jquery.js' %>
    <%= javascript_include_tag 'wow.min.js' %>
  </head>
  <body data-spy="scroll" data-target="#navbar-scroll">
    <!-- /.preloader -->
    <div id="preloader"></div>
    <div id="top"></div>

    <%= yield %>

    <!-- /.footer -->
    <footer id="footer">
      <div class="container">
        <div class="col-sm-4 col-sm-offset-4">
          <!-- /.social links -->
          <div class="social text-center">
            <ul>
              <li><a class="wow fadeInUp" href="https://www.facebook.com/Cendi-Desenvolvimento-Humano-2007206589556799/" target="_blank" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
              <li><a class="wow fadeInUp" href="https://www.instagram.com/cendi_desenvolvimento_humano/" target="_blank" data-wow-delay="0.6s"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="text-center wow fadeInUp" style="font-size: 14px;">Copyright Cendi 2018 - &nbsp;by <a href="/">Cendi</a></div>
          <a href="#" class="scrollToTop"><i class="pe-7s-up-arrow pe-va"></i></a>
        </div>
      </div>
    </footer>

    <!-- /.javascript files -->
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <%= javascript_include_tag 'custom.js' %>
    <%= javascript_include_tag 'jquery.sticky.js' %>
    <%= javascript_include_tag 'owl.carousel.min.js' %>
    <%= javascript_include_tag 'timer.js' %>
    <script>
      $(function() {
        new WOW().init();
        if (window.location.href.endsWith('email-sent')) {
          alert('Obrigado. Logo entraremos em contato com você!')
        }
      })
    </script>
  </body>
</html>
