---
title: 'Coaching de Equipes'
og_meta:
  title: 'Aprendizagem Experiencial & Coaching de Equipes'
  description: 'Treinamento vivencial e transformacional, 05 dias consecutivos com exercícios práticos, intensivos com técnicas desenvolvidas para que você acesse todo o poder que já existe em você e tenha os resultados que deseja e merece.'
  image: "http://www.cendidh.com.br/images/intro-image.jpg"
  url: "http://www.cendidh.com.br/coaching-de-equipes.html"
  type: 'website'
---

<!-- /.parallax full screen background image -->
<div class="fullscreen landing parallax" style="background-image:url('images/bg.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">

  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <!-- /.logo -->
          <div class="logo wow fadeInDown"> <a href="/coaching-de-equipes"><img src="images/logo-cabeçalho-negativo-home-old.png" alt="logo"></a></div>

          <!-- /.main title -->
          <h1 class="wow fadeInLeft" style="color: #FFFFFF;"> Aprendizagem Experiencial &amp; Coaching de Equipes <br></h1>

          <!-- /.header paragraph -->
          <div class="landing-text wow fadeInUp">
            <p>
              Treinamento vivencial e transformacional, 05 dias consecutivos com um método poderoso que se concentra na aprendizagem de adultos através de exercícios práticos, intensivos com técnicas desenvolvidas para formação de  pessoas e equipes de alto de desempenho nas organizações. Pautada por dinâmicas de grupo que conduzem a formação de novas competências, mostrando diferentes interpretações para obter diferentes resultados.

              <h3 class="landing-text wow fadeInUp" style="font-family: Lato, serif; color: #FFFFFF;">RIO DE JANEIRO <span style="color: #ffba2f">03 A 07 DE ABRIL</span></h3>
            </p>
          </div>

          <!-- /.header button -->
          <div class="head-btn wow fadeInLeft">
            <a href="#feature" class="btn-default">Saiba Mais</a>
          </div>
        </div>

        <!-- /.signup form -->
        <div class="col-md-5">
          <div class="signup-header wow fadeInUp">
            <h3 class="form-title text-center"><strong>INSCREVA-SE! </strong><br>
              VAGAS LIMITADAS</h3>
            <form class="form-header" action="https://formsapi.jabwn.com/key/jJyxh79dfR9gsxnEEVnD" role="form" method="POST" id="#">
              <input type="hidden" name="_subject" value="Form enviado em www.cendidh.com.br/coaching-de-equipes">
              <input type="hidden" name="_replyto" value="%email">
              <input type="hidden" name="_after" value="http://www.cendidh.com.br/coaching-de-equipes.html?email-sent">
              <div class="form-group">
                <input class="form-control input-lg" name="nome" id="name" type="text" placeholder="Nome" required>
              </div>
              <div class="form-group">
                <input class="form-control input-lg" name="email" id="email" type="email" placeholder="E-mail" required>
              </div>
              <div class="form-group">
                <input class="form-control input-lg" name="phone" id="email" type="tel" placeholder="Telefone" required>
              </div>
              <div class="form-group last">
                <input type="submit" class="btn btn-info btn-block btn-lg" value="GARANTA JÁ SUA VAGA">
              </div>
              <p class="privacy text-center">Não compartilharemos seu email. Site seguro, seus dados estão protegidos.</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NAVIGATION -->
<div id="menu">
  <nav class="navbar-wrapper navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand site-name" href="#top"><img src="images/logo2.png" alt="logo"></a>
      </div>

      <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="#intro">Sobre</a></li>
          <li><a href="#feature">Informações</a></li>
          <li><a href="#download">Promoção</a></li>
          <li><a href="#testi">Depoimentos</a></li>
          <li><a href="#contact">Contato</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- /.intro section -->
<div id="intro">
  <div class="container">
    <div class="row">

    <!-- /.intro image -->
      <div class="col-md-6 intro-pic wow slideInLeft">
        <img src="images/intro-image.jpg" alt="image" class="img-responsive">
      </div>

      <!-- /.intro content -->
      <div class="col-md-6 wow slideInRight">
        <h2>Sobre a formação</h2>
        <p>É um programa internacional de desenvolvimento de pessoas e equipes com alta performance realizado em  mais de 05 países com sucesso absoluto no processo de mudança sustentável com base na reestruturação de pensamentos, sentimentos e comportamentos.</p>

        <p>A formação irá desenvolver e capacitar os participantes para atuarem com maestria no desenvolvimento de Equipes e Grupos de Excelência, através do aperfeiçoamento de habilidades e competências necessárias para implementar e direcionar o programa de Aprendizagem Experiencial, produzindo novas ações e resultados diferenciados e extraordinários.</p>
        <div class="btn-section"><a href="#feature" class="btn-default">Saiba Mais</a></div>
      </div>
    </div>
  </div>
</div>

<!-- /.feature section -->
<div id="feature" class='what-will-i-learn' style="padding-bottom: 40px">
  <div class="container">
    <div class="section-title">
      <h3>O que você vai aprender nessa formação</h3>
      <small><strong>EXPERIÊNCIAS ÚNICAS, INOVADORAS E DE ALTO IMPACTO PESSOAL E PROFISSIONAL</strong></small>
    </div>

    <div class="row pt-4">
      <div class="col-md-6">
        <p class="light-font mb-5 wow fadeInLeft">
          – Distinções Aprendizagem de Adultos – Andragogia
          <br><br>
          – Processo da andragogia: Raciocínio, construção de idéias, o diálogo, a diversidade, a inovação, o conhecimento e as conclusões individuais do grupo..
          .
          <br><br>
          – Características de Aprendizagem de Adultos
          <br><br>
          – Áreas de Aprendizagem e condições que favorecem a aprendizagem
          <br><br>
          – A curva de aprendizagem.
          <br><br>
          – Os elementos-chave de aprendizagem experiencial: Ação, desafios e diversão
          <br>
          – O processo de aprendizagem. Evolução de incompetência inconsciente para a competência inconsciente
          <br>
          – O processo inicial de dar instruções: Briefing.
          <br><br>
          – O desafio pela escolha: Challenge by Choice CBC.
          <br>
        </p>
      </div>
      <div class="col-md-6">
        <p class="light-font mb-5 wow fadeInRight">
          – O processamento da sessão, ressonância ou aterragem: Debriefing
          <br><br>
          – Dinâmica de grupo. Mitos.
          <br><br>
          – Contextos de aprendizagem experiencial.
          <br><br>
          – Papel formador na formação de equipes de alto desempenho.
          <br><br>
          – Conceitos de aprendizagem experiencial associados com a inteligência emocional, pensamento lateral, pensamento vertical, zona de conforto.
          <br><br>
          – Exercícios de facilitação e desenvolvimento dinâmico pelos participantes.
          <br><br>
          – Aplicações de coaching ontológico.
          <br><br>
          – Um novo olhar sobre 3 consistências: A nova disposição do corpo, o novo estado emocional e o novo discurso.
          <br><br>
          – E muito mais... .
          <br>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- /.download section -->
<div id="promo-video">
  <div class="action fullscreen parallax" style="background-image:url('images/bg3.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="video-header">
            <div class="video-embed wow fadeIn" data-wow-duration="1s">
              <!-- video embed from YOUTUBE -->
              <iframe width="560" height="315" src="https://www.youtube.com/embed/AjyL-pGuRHk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /.feature 2 section -->
<div id="feature-2">
  <div class="container">
    <div class="row">

      <!-- /.feature content -->
      <div class="col-md-6 wow fadeInLeft">
        <h2>Renzo Alfaro</h2>
        <p>Administrador, Doutor Honoris Causa em Educação pela Academia de Educação Mundial Honrosa (HAME), Coach Ontológico, Constelador Organizacional, Facilitador de Oficina com a metodologia Lego Serious Play  com vasta experiência na área de Desenvolvimento de Pessoas, Liderança tendo desenvolvido Formações, <span class="highlight">Palestras, Treinamentos e Workshop’s em mais de 5 países </span>. Membro profissional do IFS - Sociedade Internacional de Facilitadores.</p>
        <div class="btn-section"></div>
      </div>

      <!-- /.feature image -->
      <div class="col-md-6 feature-2-pic wow fadeInRight">
        <img src="images/feature2-image.jpg" alt="macbook" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<!-- /.download section -->
<div id="download">
  <div class="action fullscreen parallax" style="background-image:url('images/bg.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">
    <div class="overlay">
      <div class="container">
        <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">

          <!-- /.download title -->
          <h2 class="wow fadeInRight">VAGAS PROMOCIONAIS LIMITADAS</h2>
          <p class="download-text wow fadeInLeft"><strong>Quer viver essa experiência? Agora é a Hora! </strong></p>
          <p class="download-text wow fadeInLeft">Condição especial para fechamento somente até 10/03/18</p>

          <!-- /.download button -->
          <div class="download-cta wow fadeInLeft">
            <a href="#contact" class="btn-secondary">Quero Desconto</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /.testimonial section -->
<div id="testi">
  <div class="container">
    <div class="text-center">
      <h2 class="wow fadeInLeft">DEPOIMENTOS</h2>
      <div class="title-line wow fadeInRight"></div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
         <div id="owl-testi" class="owl-carousel owl-theme wow fadeInUp">

          <!-- /.testimonial 1 -->
          <div class="testi-item">
            <div class="client-pic text-center">

              <!-- /.client photo -->
              <img src="images/client.jpg" alt="client">
            </div>
            <div class="box">

              <!-- /.testimonial content -->
              <p class="message text-center">"Tenho experiência em treinamento a mais de 12 anos e essa é a primeira vez trabalho com treinamento dessa vivência de aprendizagem, uma metodologia bem diferente então tive que desconstruir muita coisa para reconstruir e é um valor agregado muito grande aos treinamentos que nós já fazemos ser focado em liderança, para focar resultados o Renzo tem uma metodologia simples e agradável e é um privilégio estar aqui."</p>
            </div>
            <div class="client-info text-center">

            <!-- /.client name -->
              Diego Barbosa, <span class="company">Treinador Comportamental</span>
            </div>
          </div>

          <!-- /.testimonial 2 -->
          <div class="testi-item">
            <div class="client-pic text-center">

              <!-- /.client photo -->
              <img src="images/client-3.jpg" alt="client">
            </div>
            <div class="box">
              <!-- /.testimonial content -->
              <p class="message text-center">"É um treinamento de imersão que não aprende apenas ferramentas para aplicar em treinamento mas também ferramentas para aplicar na vida, fico feliz com a metodologia com a forma que o treinamento é conduzido, o Renzo desconstrói todo o processo de aprendizado para reconstruir um processo novo, assertivo e focado em resultado, fico  grato por ter feito a formação."</p>
            </div>
            <div class="client-info text-center">
              <!-- /.client name -->
              André Kesher, <span class="company">Trainer</span>
            </div>
          </div>

          <!-- /.testimonial 3 -->
          <div class="testi-item">
            <div class="client-pic text-center">

              <!-- /.client photo -->
              <img src="images/client-2.jpg" alt="client">
            </div>
            <div class="box">

              <!-- /.testimonial content -->
              <p class="message text-center">"Para você que é palestrante e atua como facilitador venha conferir, conhecer novas ferramentas, novas dinâmicas, saber como aplicar, como conectar com as pessoas, interpretá-las conhecer seus perfis. Se eu pudesse definir o curso em algumas palavras eu diria que foi aprendizado, intensidade e oportunidade."</p>
            </div>
            <div class="client-info text-center">

              <!-- /.client name -->
              Priscila Picos, <span class="company">Psicóloga e Coach</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /.contact section -->
<div id="contact">
  <div class="contact fullscreen parallax" style="background-image:url('images/bg.jpg');" data-img-width="2000" data-img-height="1334" data-diff="100">
    <div class="overlay">
      <div class="container">
        <div class="row contact-row">

          <!-- /.address and contact -->
          <div class="col-sm-5 contact-left wow fadeInUp">
            <h2>Entrar em <span class="highlight"> Contato</span></h2>
            <ul class="ul-address">
              <li><i class="pe-7s-map-marker"></i>Rio de Janeiro-RJ</br> Brasil</li>
              <li><i class="pe-7s-phone"></i>+55 (21) 9 9902-3662</br></li>
              <li><i class="pe-7s-mail"></i><a href="mailto:contato@cendidh.com.br">comercial@cendidh.com.br</a></li>
              <li><i class="pe-7s-look"></i><a href="/coaching-de-equipes.html">www.cendidh.com.br</a></li>
            </ul>
          </div>




          <link href="//events.genndi.com/assets/css/register_button.css" rel="stylesheet">
            <div style="margin:auto;width:300px;">
              <div class="embedded-joinwebinar-button">
                <button type="button" class="btn btn-default css3button" title="regpopbox_169105139238473825_d9092ab7b5">
                  <span>Register now</span>
                </button>
              </div>
            </div>
            <script src="//events.genndi.com/register.box.js" language="javascript" type="text/javascript"></script>
            <img src="//events.genndi.com/tracker?action=registration&webicode=d9092ab7b5&memberid=169105139238473825" style="visibility:hidden; height:0px; width:0px; border:none;">




          <!-- /.contact form -->
          <div class="col-sm-7 contact-right">
            <form method="POST" id="contact-form" class="form-horizontal" action="https://formsapi.jabwn.com/key/jJyxh79dfR9gsxnEEVnD">
              <input type="hidden" name="_subject" value="Form enviado em www.cendidh.com.br/coaching-de-equipes">
              <input type="hidden" name="_replyto" value="%email">
              <input type="hidden" name="_after" value="http://www.cendidh.com.br/coaching-de-equipes.html?email-sent">
              <div class="form-group">
                <input type="text" name="Name" id="Name" class="form-control wow fadeInUp" placeholder="Nome" required/>
              </div>
              <div class="form-group">
                <input type="text" name="Email" id="Email" class="form-control wow fadeInUp" placeholder="Email" required/>
              </div>
              <div class="form-group">
                <input class="form-control wow fadeInUp" name="phone" id="email" type="tel" placeholder="Telefone" required>
              </div>
              <div class="form-group">
                <textarea name="Message" rows="20" cols="20" id="Message" class="form-control input-message wow fadeInUp"  placeholder="Mensagem" required></textarea>
              </div>
              <div class="form-group">
                <input type="submit" name="submit" value="Enviar" class="btn btn-info wow fadeInUp" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bluelize-footer-social-stuff"></div>
