---
title: 'Workshop Online'
---

<!-- /.parallax full screen background image -->
<div id='inicio' class="fullscreen landing parallax" style="background-image:url('images/bg4.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">

  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-7">

          <!-- /.logo -->
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-0">
              <div class="logo wow fadeInDown" style='margin: 60px 0 20px 0;'> <a href="/workshop-online.html"><img src="images/logo-cabeçalho-negativo-home.png" alt="logo"></a></div>
            </div>
          </div>

          <div class="landing-text wow fadeInUp"><img src="images/assinatura-workshop-3.png" width="600" class="img-responsive"> </a> </div>

          <div class="landing-text wow fadeInUp">
            <p><strong>CRIANDO APRENDIZAGEM NAS ORGANIZAÇÕES MODERNAS:</strong><br>
              Uma experiência em tempo real, com uma metodologia desenvolvida pela Uno Coaching Group, escola de Coaching Latino Americana para a formação de pessoas e equipes de alto desempenho e se concentra na aprendizagem de adultos com princípio da Andragogia.</p>
            <p>Tire todas as suas dúvidas para você elevar os seus resultados como Coach, Gestor, Facilitador, Educador, head-trainer  com o diretor da Uno Coaching Group Internacional  Renzo Alfaro Guillen.</p>

            <h3 class="landing-text wow fadeInUp" style="font-family: Lato, serif; color: #FFFFFF; padding-bottom: 40px;"><span style="color: #ffba2f"><strong>Totalmente Grátis* Dia 06 de março (terça-feira), às 20h</strong></span></h3>

          </div>
        </div>

        <!-- /.signup form -->
        <div class="col-md-5">
          <div class="signup-header wow fadeInUp">
            <h3 class="form-title text-center"><strong>INSCREVA-SE! </strong></h3>

            <form class="form-header" action="https://formsapi.jabwn.com/key/jJyxh79dfR9gsxnEEVnD" role="form" method="POST" id="#">
              <input type="hidden" name="_subject" value="Form enviado em www.cendidh.com.br/workshop-online">
              <input type="hidden" name="_replyto" value="%email">
              <input type="hidden" name="_after" value="http://www.cendidh.com.br/workshop-online.html?email-sent">
              <div class="form-group">
                <input class="form-control input-lg" name="nome" id="name" type="text" placeholder="Nome" required>
              </div>
              <div class="form-group">
                <input class="form-control input-lg" name="email" id="email" type="email" placeholder="E-mail" required>
              </div>
              <div class="form-group">
                <input class="form-control input-lg" name="phone" id="email" type="tel" placeholder="Telefone" required>
              </div>
              <div class="form-group last">
                <input  type="submit"  class="btn btn-warning btn-block btn-lg" value="Quero me inscrever!">
              </div>
              <p class="privacy text-center">Não compartilharemos seu email. Site seguro, seus dados estão protegidos.</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NAVIGATION -->
<div id="menu">
  <nav class="navbar-wrapper navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand site-name" href="#top"><img src="images/logo2.png" alt="logo"></a>
      </div>

      <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="#inicio">Início</a></li>
          <li><a href="#intro">Sobre</a></li>
          <li><a href="#curriculum">Currículum</a></li>
          <li><a href="#contact">Contato</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- /.intro section -->
<div id="intro">
  <div class="container">
    <div class="row">

    <!-- /.intro image -->
      <div class="col-md-6 intro-pic wow slideInLeft">
        <img src="images/intro-image.jpg" alt="image" class="img-responsive">
      </div>

      <!-- /.intro content -->
      <div class="col-md-6 wow slideInRight">
        <h2>O que você vai aprender</h2>
        <p>- Distinções Aprendizagem de Adultos – Andragogia <br>
        - A aprendizagem experiencial, dimensões de desenvolvimento. <br>
        - Aplicações de Coaching Ontológico e Aprendizagem Experiencial nas organizações <br>
        - Competências básicas aplicadas ao Coaching Ontológico e Aprendizagem Experiencial <br>
        - Os elementos-chave de aprendizagem experiencial: Ação, desafios e diversão.<br>
        - Comunicação assertiva e respeitosa com os diferentes públicos que interagimos. </p>
        <div class="btn-section"></div>
      </div>
    </div>
  </div>
</div>

<!-- /.feature 2 section -->
<div id="curriculum" style="padding-bottom: 100px; background-color: #EBEBEB; padding-top: 80px;">
  <div class="container">
    <div class="row">

      <!-- /.feature content -->
      <div class="col-md-6 wow fadeInLeft">
        <h2>Renzo Alfaro</h2>
        <p>Administrador, Doutor Honoris Causa em Educação pela Academia de Educação Mundial Honrosa (HAME), Coach Ontológico, Constelador Organizacional, Facilitador de Oficina com a metodologia Lego Serious Play  com vasta experiência na área de Desenvolvimento de Pessoas, Liderança tendo desenvolvido Formações, <span class="highlight">Palestras, Treinamentos e Workshop’s em mais de 5 países </span>. Membro profissional do IFS - Sociedade Internacional de Facilitadores.</p>
        <div class="btn-section"></div>
      </div>

      <!-- /.feature image -->
      <div class="col-md-6 feature-2-pic wow fadeInRight">
        <img src="images/feature2-image.jpg" alt="macbook" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<!-- /.contact section -->
<div id="contact">
  <div class="contact fullscreen parallax" style="background-image:url('images/bg2.jpg');" data-img-width="2000" data-img-height="1334" data-diff="200">
    <div class="overlay">
      <div class="container">

        <div class="row contact-row">

          <!-- HEADLINE -->
          <div class="text-center wow fadeInLeft timer-wrapper" style="margin-top: -10px;margin-bottom: 80px;">
            <h1><strong>WORKSHOP</strong> GRATUITO COMEÇA EM</h1>
            <!-- START TIMER -->
            <div id="timer">
              <p id="06-03-2018 ÀS 20 HORAS"></p>
              <div id="days" class="timer_box"></div>
              <div id="hours" class="timer_box"></div>
              <div id="minutes" class="timer_box"></div>
              <div id="seconds" class="timer_box"></div>
            </div>
            <!-- END TIMER -->
            <div class="col-lg-4 col-lg-offset-4 text-center" style="margin-bottom: 60px;">
              <img src="/images/data-e-hora.png">
            </div>
          </div>

          <!-- /.address and contact -->
          <div class="col-sm-5 contact-left wow fadeInUp">
            <h2>Entrar em <span class="highlight"> Contato</span></h2>
            <ul class="ul-address">
              <li>
                <i class="pe-7s-map-marker"></i>Rio de Janeiro-RJ</br>
                Brasil
              </li>
              <li><i class="pe-7s-phone"></i>+55 (21) 9 9902-3662</br></li>
              <li><i class="pe-7s-mail"></i><a href="mailto:contato@cendidh.com.br">comercial@cendidh.com.br</a></li>
              <li><i class="pe-7s-look"></i><a href="/workshop-online.html">www.cendidh.com.br</a></li>
            </ul>
          </div>

          <!-- /.contact form -->
          <div class="col-sm-7 contact-right">
            <form method="POST" id="contact-form" class="form-horizontal" action="https://formsapi.jabwn.com/key/jJyxh79dfR9gsxnEEVnD">
              <input type="hidden" name="_subject" value="Form enviado em www.cendidh.com.br/workshop-online">
              <input type="hidden" name="_replyto" value="%email">
              <input type="hidden" name="_after" value="http://www.cendidh.com.br/workshop-online.html?email-sent">
              <div class="form-group">
                <input type="text" name="Name" id="Name" class="form-control wow fadeInUp" placeholder="Nome" required/>
              </div>
              <div class="form-group">
                <input type="text" name="Email" id="Email" class="form-control wow fadeInUp" placeholder="Email" required/>
              </div>
              <div class="form-group">
                <input class="form-control wow fadeInUp" name="phone" id="email" type="tel" placeholder="Telefone" required>
              </div>
              <div class="form-group">
                <textarea name="Message" rows="20" cols="20" id="Message" class="form-control input-message wow fadeInUp"  placeholder="Mensagem" required></textarea>
              </div>
              <div class="form-group">
                <input type="submit" name="submit" value="Enviar" class="btn btn-warning wow fadeInUp" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
